@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap");

* {
  font-family: "Martel", serif;
}

h1 {
  text-align: center;
}

.yayyy {
  color: rgba(240, 128, 128, 0.7);
}

mark {
  background-color: rgba(240, 128, 128, 0.4);
  border-radius: 4px;
  padding: 1px;
}

li {
  margin-bottom: 6px;
}

i {
  font-size: 50px;
  transition: 1s;
  color: rgba(240, 128, 128, 0.3);
}

i:hover {
  color: rgba(240, 128, 128, 0.5);
}

.btn-light {
  background-color: rgba(240, 128, 128, 0.5);
}

.btn-light:hover {
  background-color: rgba(240, 128, 128, 0.3);
}

.predictions {
  list-style: none;
  padding: 0;
}

.square {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
}

.coded {
  color: gray;
  text-align: center;
}

.btn-light1 {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 5px;
}

.icon-div {
  text-align: center;
}

#main-icon {
  width: 20%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .button-f {
    text-align: center;
  }
}

/* :p */

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature-max {
  color: rgb(240, 128, 128);
}

.weather-forecast-temperatures {
  font-size: 13px;
}

/* :D */

.sofia-hinojosa,
.open-sourced {
  color: rgb(240, 128, 128);
}

.sofia-hinojosa:hover,
.open-sourced:hover {
  color: rgba(240, 128, 128, 0.7);
}
